.reviews {
  border: 1px solid black;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  margin: 20px;
  padding: 20px;
  width: 500px;
}

.form-review {
  border: 1px solid black;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding: 20px;
  width: 300px;
}

.review {
  border: 1px solid black;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  width: 250px;
}
<<<<<<< HEAD

.star-input {
  display: none;
}

.selected {
  color: rgb(207, 159, 26);
  font-size: 20px;
}

.unselected {
  color: grey;
  font-size: 20px;
}
=======
>>>>>>> 479a89781b6e08d0967d6be2fae5c4a76add39ef
